button {
  all: unset;
  padding: 1rem 0.75rem;
  background-color: var(--blue-600);
  border-radius: 0.5rem;
  color: var(--white);
  width: max-content;
  width: 100%; /* Faz o botão ocupar 100% da largura do container */
    text-align: center; /* Centraliza o texto dentro do botão */
    cursor: pointer;
    box-sizing: border-box; 
  
}
button:hover {
  background-color: var(--blue-700);
}
button:disabled {
  background: #2f34ab;
  opacity: 0.5;
  cursor: initial;
}
