select {
  all: unset;
  background: url("../assets/CaretDown.svg") no-repeat;
  background-position: calc(100% - 0.75rem) center;
  background-color: var(--blue-400);
  padding: 1rem 1.2rem;
  color: var(--white);
  border: 1px solid var(--blue-500);
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
  cursor: pointer;
  &:hover, &:focus {
    border: 1px solid var(--blue-700);
  }
}

